*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

body{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}

.main-container{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    /* justify-content: space-around; */
    position: absolute;
    height: 100%;
}

.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px 15px;
}

.mid-container{
    margin-bottom: 22px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px 60px;
}

.client-img{
    width: 75px;
}
.audiophile{
    width:50px;
}
.meet, .maker{
    width:60px;
}

#first-main-paragraph{
    color:hsl(0, 0%, 41%);
    padding: 15px 0px;
}

#learn-more{
    background-color: black;
    color:white;
    padding:7px 15px 7px ;
    border-radius: 10px;
}

#learn-more:hover{
    cursor: pointer;
    color:hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
}

#menu-icon:hover{
    cursor: pointer;   
}

.font-color-medium-gray{
    color:hsl(0, 0%, 41%);
}

.navigation{
    background-color:hsl(0, 0%, 98%);
    position: absolute;
    top:0%;
    right:0%;
    width:65%;
    height: 100vh;
    padding:60px 25px;
    /* animation-name: animatenotification; */
    animation-duration:.5s;
    text-align:left;
}

.navigation p{
    padding: 10px 0px;
}

@keyframes animatenotification {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.navigation-container{ 
    color:hsl(0, 0%, 41%);
    display:none;
    position:fixed;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    z-index:1;
    background-color:rgba(0,0,0,0.5 );
}

.drop-down-items{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#close-menu-icon{
    position: absolute;
    top:2%;
    right:5%;
}

.feature-drop-down-expanded, .company-drop-down-expanded{
    display: none;
}


.align-text-center{
    padding-left:20px;
}
.align-text-center img{
    padding:0px 5px;
}

.login-register{
    cursor: pointer;
    text-align: center;
}

#register{
    border:2px solid hsl(0, 0%, 41%);
    border-radius: 15px;
}

#register:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 41%);
    color:hsl(0, 0%, 98%);
}

@media (min-width: 768px){
    body{
        background-color: black;
        display: none;
    }
}